.mat-column-Nro,
.mat-column-Empresa,
.mat-column-DesModalidad,
.mat-column-DesPuestoTrabajo,
.mat-column-Activo,
.mat-column-actions {
    font-size: 11.5px;    
}
.mat-column-Nro {
	min-width: 80px;
	width: 100%;
	flex: 0 0 80px;
	// justify-content: left;
}
.mat-column-Activo,
.mat-column-actions{
	min-width: 120px;
	width: 100%;
	flex: 0 0 120px;
}
