.mat-row {
    min-width: 750px;
    width: 100%;
}

.mat-header-row {
    min-width: 750px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
}

.mat-column-Nro {
    min-width: 50px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 50px;
    justify-content: center;
}

.mat-column-CodigoDC, 
.mat-column-CodigoNE {
    min-width: 110px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 110px;
    justify-content: center;
}

.mat-column-ProveedorDC,
.mat-column-FechaEmisionDC,
.mat-column-DocumentoDC,
.mat-column-FechaContableNE {
    min-width: 125px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 125px;
    justify-content: center;
    text-align: center;
}

.mat-column-TipoDocumentoDC,
.mat-column-MonedaDC {
    min-width: 100px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 100px;
    justify-content: center;
}

.mat-column-TotalDC,
.mat-column-EstadoDC,
.mat-column-AnticipoDC {
    min-width: 90px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 90px;
    justify-content: center;
}

.mat-column-MaterialNE {
    min-width: 240px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 240px;
    justify-content: center;
}

.mat-column-EstadoNE {
    min-width: 90px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 90px;
    justify-content: center;
}

.mat-column-CantidadNE,
.mat-column-CostoTotalNE,
.mat-column-CostoUnitNE {
    min-width: 80px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 80px;
    justify-content: left;
}