<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Solicitudes de dotación</h3>
    </div>
    <!-- <div class="card-toolbar">
      <button type="button" class="btn btn-primary" (click)="create()">Nueva configuración</button>
    </div> -->
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-8">
          <div class="row" [formGroup]="filterGroup">
            <div class="col-lg-4">
							<input type="date" class="form-control" name="Desde" formControlName="Desde" id="dtDesde">
							<small class="form-text text-muted"><b>Filtrar</b> desde</small>
            </div>

            <div class="col-lg-4">
              <input type="date" class="form-control" name="Hasta" formControlName="Hasta" id="dtHasta">
							<small class="form-text text-muted"><b>Filtrar</b> hasta</small>
            </div>
						
            <div class="col-lg-4">
              <select class="form-control" placeholder="Estado" name="Estado" formControlName="Estado">
                <option value="">Todos</option>
								<option *ngFor="let estado of this.arrEstados" value="{{ estado.id }}">{{ estado.nombre }}</option>
							</select><small class="form-text text-muted"><b>Filtrar</b> por Estado</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4" [formGroup]="searchGroup">
          <input type="text" class="form-control" name="searchText" placeholder="Search" value=""
            formControlName="searchTerm"/>
						<small class="form-text text-muted"><b>Buscar</b> en todos los campos</small
          >
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin: Grouping -->
    <ng-container *ngIf="grouping.getSelectedRowsCount()">
      <div class="form">
        <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
          <div class="col-xl-12">
            <div class="form-group form-group-inline">
              <div class="form-label form-label-no-wrap">
                <label class="font-bold font-danger">
									<span>Selected records count:<b>{{ grouping.getSelectedRowsCount() }}</b></span>
								</label>
              </div>
              <div>
                <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-1"
                  (click)="deleteSelected()">
                  <i class="fa fa-trash"></i> Delete All
								</button>&nbsp;
                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                  (click)="fetchSelected()">
                  <i class="fa fa-stream"></i> Fetch Selected
								</button>&nbsp;
                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                  (click)="updateStatusForSelected()">
                  <i class="fa fa-sync-alt"></i> Update Status
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- end: Grouping -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <!-- <th class="selection-cell-header" data-row-selection="true">
            <label class="checkbox checkbox-single">
							<input type="checkbox" (click)="grouping.selectAllRows()" [checked]="grouping.checkAreAllRowsSelected()"/>
							<span></span>
						</label>
          </th> -->
          <th>
            N°
            <app-sort-icon column="id" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" 
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Codigo
            <app-sort-icon column="codigo" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Técnico
            <app-sort-icon column="tecnico" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Cuotas
            <app-sort-icon column="coutas" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Total
            <app-sort-icon column="total" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Estado
            <app-sort-icon column="activo" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Operaciones
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let product of productsService.items$ | async">
            <!-- <td class="selection-cell">
              <label class="checkbox checkbox-single"
                ><input
                  type="checkbox"
                  (click)="grouping.selectRow(product.id)"
                  [checked]="grouping.isRowSelected(product.id)"
                />
                <span></span>
              </label>
            </td> -->
						<td>{{ product.nro }}</td>
            <td>{{ product.codigo }}</td>
						<td>{{ product.tecnico }}</td>
            <td>{{ product.cuotas }}</td>
            <!-- <td>
              <span [style.color]="product.color">{{ product.color }}</span>
            </td> -->
            <td>S/. {{ product.total }}</td>
            <td>
              <span class="label label-lg label-inline" 
                [class.label-light-danger]="product.status === 1"
                [class.label-light-success]="product.status === 2">
                <ng-container *ngIf="product.status === 1">{{ product.estado }}</ng-container>
                <ng-container *ngIf="product.status === 2">{{ product.estado }}</ng-container>
              </span>
            </td>
            <!-- <td>
              <ng-container *ngIf="product.condition === 1">NEW</ng-container>
              <ng-container *ngIf="product.condition === 2">USED</ng-container>
            </td> -->
            <td>
							<a title="Edit Solicitud Dotacion" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                (click)="edit(product.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
              <!-- <a
                title="Delete product"
                class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="delete(product.id)"
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger"
                >
                </span>
              </a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>

