<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Pedidos de Venta (Despacho)</h3>
        </div>
        <!-- <div class="card-toolbar">
            <button type="button" class="btn btn-primary" (click)="addPedidoVenta()">Nuevo Pedido de Venta</button>
        </div> -->
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="row" [formGroup]="filterGroup">
                        <div class="col-lg-3 col-6 mb-5 offset-lg-1">
                            <input class="form-control" formControlName="Desde" type="date"
                                (change)="getListaPedidosVenta($event.target.value, filterGroup.controls['Hasta'].value, filterGroup.controls['Establecimiento'].value, filterGroup.controls['Estado'].value)">
                            <small class="form-text text-muted"><b>Filtrar</b> por Desde</small>
                        </div>
                        <div class="col-lg-3 col-6 mb-5">
                            <input class="form-control" formControlName="Hasta" type="date"
                                [min]="filterGroup.controls['Desde'].value"
                                (change)="getListaPedidosVenta(filterGroup.controls['Desde'].value, $event.target.value, filterGroup.controls['Establecimiento'].value, filterGroup.controls['Estado'].value)">
                            <small class="form-text text-muted"><b>Filtrar</b> por Hasta</small>
                        </div>
                        <div class="col-lg-2 col-6 mb-5">
                            <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true"
                                formControlName="Establecimiento"
                                (change)="getListaPedidosVenta(filterGroup.controls['Desde'].value, filterGroup.controls['Hasta'].value, $event, filterGroup.controls['Estado'].value)">
                                <ng-option *ngFor="let item of array_establecimiento" [value]="item.idEstablecimiento">
                                    {{item.nombre}}
                                </ng-option>
                            </ng-select>
                            <small class="form-text text-muted"><b>Filtrar</b> por Establecimiento</small>
                        </div>
                        <div class="col-lg-2 col-6 mb-5">
                            <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true"
                                formControlName="Estado"
                                (change)="getListaPedidosVenta(filterGroup.controls['Desde'].value, filterGroup.controls['Hasta'].value, filterGroup.controls['Establecimiento'].value, $event)">
                                <ng-option *ngFor="let item of array_estado" [value]="item.valor">
                                    {{item.nombre}}
                                </ng-option>
                            </ng-select>
                            <small class="form-text text-muted"><b>Filtrar</b> por Estado</small>
                        </div>
                        <div class="col-lg-2 col-12 col-sm-6 mb-5 offset-lg-9" [formGroup]="searchGroup">
                            <input type="search" class="form-control" name="searchText" placeholder="Buscar" value=""
                                formControlName="searchTerm" (keyup)="search()" />
                            <small class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Filtration form -->

        <div class="table-responsive angular-bootstrap-table mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort perfectScrollbar>

                <ng-container matColumnDef="Nro">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
                    <mat-cell *matCellDef="let i = index;">{{matPaginator.pageSize * matPaginator.pageIndex + i + 1}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">


                        <a title="Ver pedido"
                            class="btn btn-icon btn-light btn-hover-success btn-sm mx-3"
                            (click)="verPedidoVentaDespacho(lesson.idPedidoVenta)">
                            <span [inlineSVG]="'./assets/media/svg/icons/General/Visible.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-primary">
                            </span>
                        </a>
                        <a title="Eliminar pedido" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                            (click)="deletePedidoVentaDespacho(lesson.idPedidoVenta)">
                            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-danger">
                            </span>
                        </a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <div style="height: 100%; width: 100%; display: flex; flex-direction:column">
                            <a title="lesson.estado" class="btn btn-light btn-sm mx-3 estado"
                                [style.color]="lesson.colorTexto" [style.background]="lesson.colorFondo">
                                {{lesson.estado}}
                            </a>
                            <small style="font-weight: bolder; text-align: center; color: #aa1111"
                                *ngIf="lesson.repetido">REPETIDO</small>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Codigo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>CÓDIGO</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.codigo}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Cliente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.cliente}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="FechaEmision">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA EMISIÓN</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.fechaEmision | date : 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.total.toFixed(lesson.numDecimales)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="5">
                        Loading data...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="5">
                        No se encontraron registros.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}">
                </mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>
        </div>

        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
            <mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>