<div class="my-5">
  <!--begin::Form-->
  <div class="container contenedor-login w-100">
    <div>
      <div class="text-center pt-2 w-100">
        <img src="../../../assets/boton-lila/logoTargoxWhite.png" alt="logo-isotipo" style="height: 100px;mix-blend-mode: hard-light;">
      </div>
      <h3 id="step1-li" class="font-weight-bolder font-size-h3 font-size-h2-lg text-center pb-2">
        ¡Bienvenido Gextiona!
      </h3>
      <form
        class="form"
        [formGroup]="loginForm"
        novalidate="novalidate"
        id="kt_login_signin_form"
        (ngSubmit)="submit()"
      >
        <!-- begin::Alert error-->
        <ng-container *ngIf="hasError">
          <div class="mb-1 alert alert-custom alert-light-danger alert-dismissible">
            <div class="alert-text">{{mesageError}}</div>
          </div>
        </ng-container>
        <!-- end::Alert error-->
  
        <!--begin::Form group-->
        <div class="form-group pb-0">
          <label class="font-size-h6 font-weight-bolder text-white">Usuario</label>
          <div class="d-flex">
            <input class="form-control form-control-solid h-auto p-5 rounded-lg" type="text" name="usuario" formControlName="usuario" autocomplete="off" [ngClass]="{ 'is-invalid': loginForm.controls['usuario'].invalid }"/>
          </div>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{ validation: 'required', message: 'Usuario es Obligatorio', control: loginForm.controls['usuario'] }"></ng-container>
        </div>
        <!--end::Form group-->
  
        <!--begin::Form group-->
        <div class="form-group">
          <div class="d-flex justify-content-between mt-n5">
            <label class="font-size-h6 font-weight-bolder text-white pt-5">Contraseña</label>
          </div>
  
          <input class="form-control form-control-solid h-auto p-5 rounded-lg" type="password" name="password" autocomplete="off" formControlName="password" [ngClass]="{ 'is-invalid': loginForm.controls['password'].invalid }"/>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{ validation: 'required', message: 'Contraseña es Obligatorio', control: loginForm.controls['password'] }"></ng-container>
        </div>
        <!--end::Form group-->
  
        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
          <button type="submit" id="kt_login_signin_submit" class="btn btn-aspire font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3 w-100" [disabled]="loginForm.invalid">
            Iniciar Sesion
          </button>
  
          <ng-container *ngIf="isLoading$ | async">
            <div class="text-center pt-5">
              <span class="spinner spinner-success"></span>
            </div>
          </ng-container>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center pb-5">
          <div class="d-flex align-items-center">
            <span class="switch">
              <label>
                  <input type="checkbox" name="Activo">
                  <span></span>
              </label>
            </span>
            <span class="pl-1" >Recordar</span>
          </div>
          <a  class="font-weight-bold link-aspire pt-4 text-white" id="kt_login_forgot"> ¿Olvidaste tu contraseña? </a>
          <!-- routerLink="/auth/forgot-password" -->
        </div>
        <div class="text-center">
          <a  class="font-size-h6 font-weight-bolder link-aspire text-white" id="kt_login_forgot" > REGISTRATE </a>
          <!-- routerLink="/auth/registration" -->
        </div>
        <div class="text-center">
          <a  class="font-size-h6 font-weight-bolder link-aspire text-white" (click)="enviarMensaje();" id="kt_login_forgot" > ENVIAR MENSAJE </a>
          <!-- routerLink="/auth/registration" -->
        </div>
        <!--end::Action-->
      </form>
    </div>
  </div>
  <!--end::Form-->
  
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
