<div class="card card-custom gutter-b">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">Proveedores</h3>
		</div>
		<div class="card-toolbar">
			<button type="button" class="btn btn-primary" (click)="addProveedor()">Nuevo Proveedor</button>
		</div>
	</div>
	<div class="card-body">
		<!-- begin: Filtration form -->
		<div class="form form-label-right">
			<div class="form-group row">
				<div class="col-lg-12">
					<div class="row" [formGroup]="filterGroup">
						<div class="col-lg-2 col-4 mb-5">
							<ng-select #agreeSelect [clearSearchOnAdd]="false" formControlName="Categoria" [searchable]="true"
								placeholder="Categoria"
								(change)="getProveedores($event, filterGroup.controls.Pais.value, filterGroup.controls.Departamento.value, filterGroup.controls.Provincia.value, filterGroup.controls.Distrito.value)">
								<ng-option *ngFor="let item of array_categorias" [value]="item.idCategoriaProveedor">
									{{item.nombre}}
								</ng-option>
							</ng-select>
							<small class="form-text text-muted"><b>Filtrar</b> por Categoria</small>
						</div>
						<div class="col-lg-2 col-4 mb-5">
							<ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="Pais"
								(change)="getListarDepartamento($event); getProveedores(filterGroup.controls.Categoria.value, $event, filterGroup.controls.Departamento.value, filterGroup.controls.Provincia.value, filterGroup.controls.Distrito.value)">
								<ng-option *ngFor="let item of array_pais" [value]="item.Pais">
									{{item.NombrePais}}
								</ng-option>
							</ng-select>
							<small class="form-text text-muted"><b>Filtrar</b> por Pais</small>
						</div>

						<div class="col-lg-2 col-4 mb-5">
							<ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true"
								formControlName="Departamento"
								(change)="getListarProvincia($event, null); getProveedores(filterGroup.controls.Categoria.value, filterGroup.controls.Pais.value , $event, filterGroup.controls.Provincia.value, filterGroup.controls.Distrito.value)">
								<ng-option *ngFor="let item of array_departamento" [value]="item.Departamento">
									{{item.NombreDepartamento}}
								</ng-option>
							</ng-select>
							<small class="form-text text-muted"><b>Filtrar</b> por Departamento</small>
						</div>

						<div class="col-lg-3 col-4 mb-5">
							<ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="Provincia"
								(change)="getListarDistrito($event, null) ; getProveedores(filterGroup.controls.Categoria.value, filterGroup.controls.Pais.value, filterGroup.controls.Departamento.value, $event, filterGroup.controls.Distrito.value)">
								<ng-option *ngFor="let item of array_provincia" [value]="item.Provincia">
									{{item.NombreProvincia}}
								</ng-option>
							</ng-select>
							<small class="form-text text-muted"><b>Filtrar</b> por Provincia</small>
						</div>

						<div class="col-lg-3 col-4 mb-5">
							<ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="Distrito"
								(change)="getProveedores(filterGroup.controls.Categoria.value, filterGroup.controls.Pais.value, filterGroup.controls.Departamento.value, filterGroup.controls.Provincia.value, $event)">
								<ng-option *ngFor="let item of array_distrito" [value]="item.Distrito">
									{{item.NombreDistrito}}
								</ng-option>
							</ng-select>
							<small class="form-text text-muted"><b>Filtrar</b> por Distrito</small>
						</div>
						<div class="col-lg-4 col-4 mb-5 offset-lg-8" [formGroup]="searchGroup">
							<input type="text" class="form-control" name="searchText" placeholder="Buscar" value=""
								(keyup)="search()" formControlName="searchTerm" /><small
								class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end: Filtration form -->

		<div class="table-responsive angular-bootstrap-table mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort perfectScrollbar>

				<ng-container matColumnDef="Nro">
					<mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
					<mat-cell *matCellDef="let i = index;">{{matPaginator.pageSize * matPaginator.pageIndex + i + 1}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
					<mat-cell *matCellDef="let lesson">
						<a title="Editar Proveedor" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
							(click)="editProveedor(lesson.idProveedor)">
							<span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
								class="svg-icon svg-icon-md svg-icon-primary">
							</span>
						</a>
						<a title="Eliminar Proveedor" class="btn btn-icon btn-light btn-hover-danger btn-sm"
							(click)="delete(lesson.idProveedor)">
							<span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
								class="svg-icon svg-icon-md svg-icon-danger">
							</span>
						</a>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Activo">
					<mat-header-cell *matHeaderCellDef mat-sort-header>ACTIVO</mat-header-cell>
					<mat-cell *matCellDef="let lesson">
						<span class="switch">
							<label>
								<input type="checkbox" name="Activo" [(ngModel)]="lesson.activo"
									(click)="disabledProveedor(lesson)">
								<span></span>
							</label>
						</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="RazonSocial">
					<mat-header-cell *matHeaderCellDef mat-sort-header>RAZON SOCIAL</mat-header-cell>
					<mat-cell *matCellDef="let lesson">{{lesson.razonSocial}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="TipoDocumentoIdentidad">
					<mat-header-cell *matHeaderCellDef mat-sort-header>TIPO DOC.</mat-header-cell>
					<mat-cell *matCellDef="let lesson">{{lesson.nombreTipoDocumentoIdentidad}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="DocumentoIdentidad">
					<mat-header-cell *matHeaderCellDef mat-sort-header>DOCUMENTO</mat-header-cell>
					<mat-cell *matCellDef="let lesson">{{lesson.documentoIdentidad}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Categoria">
					<mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORIA</mat-header-cell>
					<mat-cell *matCellDef="let lesson">{{lesson.nombreCategoriaProveedor}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Ubicacion">
					<mat-header-cell *matHeaderCellDef mat-sort-header>UBICACIÓN</mat-header-cell>
					<mat-cell *matCellDef="let lesson">{{lesson.ubicacion}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Telefono">
					<mat-header-cell *matHeaderCellDef mat-sort-header>TELEFONO</mat-header-cell>
					<mat-cell *matCellDef="let lesson">{{lesson.telefono1}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Email">
					<mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</mat-header-cell>
					<mat-cell *matCellDef="let lesson">{{lesson.email}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="loading">
					<mat-footer-cell *matFooterCellDef colspan="5">
						Loading data...
					</mat-footer-cell>
				</ng-container>
				<ng-container matColumnDef="noData">
					<mat-footer-cell *matFooterCellDef colspan="5">
						No se encontraron registros.
					</mat-footer-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
				<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}">
				</mat-footer-row>
				<mat-footer-row *matFooterRowDef="['noData']"
					[ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
			</mat-table>

		</div>

		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
			<mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>
	</div>
</div>