<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Trabajadores</h3>
      </div>
      <div class="card-toolbar">
        <button type="button" class="btn btn-primary" (click)="addTrabajador()">Nuevo Trabajador</button>
      </div>
    </div>
    <div class="card-body">
      <!-- begin: Filtration form -->
      <div class="form form-label-right">
        <div class="form-group row">
          <div class="col-lg-12">
            <div class="row" [formGroup]="filterGroup">
              <div class="col-lg-3">
                <ng-select #agreeSelect [clearSearchOnAdd]="false" formControlName="Empresa"
                    [searchable]="true" placeholder="Empresa" (change)="getArea($event);getPuestoTrabajo($event,filterGroup.controls.Area.value);">
                    <ng-option *ngFor="let item of array_empresas" [value]="item.idEmpresa">
                        {{item.razonSocial}}
                    </ng-option>
                </ng-select>
                <small class="form-text text-muted"><b>Filtrar</b> por Empresa</small>
              </div>
              <div class="col-lg-3">
                <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="Area" (change)="getPuestoTrabajo(filterGroup.controls.Empresa.value,$event);">
                    <ng-option *ngFor="let item of array_areas" [value]="item.Area">
                        {{item.NombreArea}}
                    </ng-option>
                </ng-select>
                <small class="form-text text-muted"><b>Filtrar</b> por Area</small>
              </div>
  
              <div class="col-lg-3">
                <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="PuestoTrabajo" (change)="getTrabajadoresList(filterGroup.controls.Empresa.value, filterGroup.controls.Area.value, $event, filterGroup.controls.Estado.value)">
                    <ng-option *ngFor="let item of array_puestos" [value]="item.PuestoTrabajo">
                        {{item.NombrePuestoTrabajo}}
                    </ng-option>
                </ng-select>
                <small class="form-text text-muted"><b>Filtrar</b> por Puesto de Trabajo</small>
              </div>

              <div class="col-lg-3">
                <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="Estado" (change)="getTrabajadoresList(filterGroup.controls.Empresa.value, filterGroup.controls.Area.value, filterGroup.controls.PuestoTrabajo.value, $event)">
                    <ng-option *ngFor="let item of array_estado" [value]="item.value">
                        {{item.descripcion}}
                    </ng-option>
                </ng-select>
                <small class="form-text text-muted"><b>Filtrar</b> por Estado</small>
              </div>
  
            </div>
          </div>         
        </div>

        <div class="form-group row">            
            <div class="col-lg-8"></div>
            <div class="col-lg-4" [formGroup]="searchGroup">
              <input type="text" class="form-control" name="searchText" placeholder="Buscar" value="" (keyup)="search()"
                formControlName="searchTerm" /><small class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
            </div>
          </div>
					
				</div>
				<!-- end: Filtration form -->
				
        <div class="table-responsive angular-bootstrap-table mat-table__wrapper">
        <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort perfectScrollbar>
					
					<ng-container matColumnDef="Nro">
                <mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
                <mat-cell *matCellDef="let i = index;">{{matPaginator.pageSize * matPaginator.pageIndex + i + 1}}</mat-cell>
							</ng-container>
							
							<ng-container matColumnDef="actions">
									<mat-header-cell *matHeaderCellDef>ACCIONES</mat-header-cell>
									<mat-cell *matCellDef="let lesson">                              
				
											<a title="Editar Trabajador" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="editTrabajador(lesson.idTrabajador)">
													<span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
													class="svg-icon svg-icon-md svg-icon-primary">
													</span>
											</a>
				
											<a title="Eliminar Trabajador" class="btn btn-icon btn-light btn-hover-danger btn-sm"
													(click)="delete(lesson.idTrabajador)">
													<span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
													class="svg-icon svg-icon-md svg-icon-danger">
													</span>
											</a>                  
				
									</mat-cell>
							</ng-container>
							
													<ng-container matColumnDef="Activo">
															<mat-header-cell *matHeaderCellDef mat-sort-header>ACTIVO</mat-header-cell>
															<mat-cell *matCellDef="let lesson">
																	
																	<span class="switch">
																			<label>
																					<input type="checkbox" name="Activo" [(ngModel)]="lesson.Activo" (click)="disabledTrabajador(lesson)">
																					<span></span>
																			</label>
																	</span>
															</mat-cell>
													</ng-container>

							<!-- <ng-container matColumnDef="Empresa">
								<mat-header-cell *matHeaderCellDef mat-sort-header>EMPRESA</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.NombreEmpresa}}</mat-cell>
            </ng-container> -->

            <!-- <ng-container matColumnDef="Codigo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>CÓDIGO</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.Codigo}}</mat-cell>
            </ng-container> -->

            <ng-container matColumnDef="NombresApellidos">
                <mat-header-cell *matHeaderCellDef mat-sort-header>APELLIDOS Y NOMBRES</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.NombresApellidos}}</mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="Area">
                <mat-header-cell *matHeaderCellDef mat-sort-header>AREA</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.Area}}</mat-cell>
            </ng-container> -->

            <ng-container matColumnDef="PuestoTrabajo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>PUESTO TRABAJO</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.PuestoTrabajo}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="FechaInicioContrato">
                <mat-header-cell *matHeaderCellDef mat-sort-header>F. INICIO CONTRATO</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.FechaInicioContrato | date : 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="FechaFinContrato">
                <mat-header-cell *matHeaderCellDef mat-sort-header>F. FIN CONTRATO</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.FechaFinContrato | date : 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="5">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="5">
                    No se encontraron registros.
                </mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}">
            </mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
        </mat-table>
        </div>

        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
            <mat-paginator #matPaginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
        </div>      
    </div>
  </div>