<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">PROYECTOS</h3>
      </div>
      <div class="card-toolbar">
        <button type="button" class="btn btn-primary" (click)="SaveModal(null)">Nuevo Proyecto</button> <!---->

      </div>
    </div>
        
      <!-- begin: Filtration form -->
      <div class="card-body">
        <div class="form-group row">
          
          <div class="col-lg-12">
            <div class="row"  > <!-- -->
                <div class="col-lg-4" [formGroup]="searchGroup"> <!---->
                    
                  <input type="text" class="form-control" name="searchText" placeholder="Buscar" value="" (keyup)="search()"
                    formControlName="searchTerm" />
                    <small class="form-text text-muted"><b>Filtrar</b> todos los campos</small>
                </div> 
            </div>
          </div>          
        </div>
      </div>

      <div class="row">

           
        <div class="col-md-4">


        </div>

    </div>

    
      <!-- end: Filtration form -->

    

      <div class="table-responsive angular-bootstrap-table mat-table__wrapper">
        <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort perfectScrollbar>

            <ng-container matColumnDef="Nro">
                <mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
                <mat-cell *matCellDef="let i = index;">{{matPaginator.pageSize * matPaginator.pageIndex + i + 1}}</mat-cell>
            </ng-container> 

            <ng-container matColumnDef="PROYECTOS">
                <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRES</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.proyectos}}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="CLIENTES">
                <mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.cliente}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="FECHAINICIO">
                <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA INICIO</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.FechaInicio | date : 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="FECHAFIN">
                <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA FIN</mat-header-cell>
                <mat-cell *matCellDef="let lesson">{{lesson.FechaFin | date : 'dd/MM/yyyy'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="ACTIVO">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ACTIVO</mat-header-cell>
                <mat-cell *matCellDef="let lesson">
                    <span class="switch">
                        <label>
                            <input type="checkbox" name="Activo" [(ngModel)]="lesson.activo" (click)="EnableDisableProyecto(lesson.idProyecto, lesson.activo)"><!---->
                            <span></span>
                        </label>
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="OPCIONES">
                <mat-header-cell *matHeaderCellDef>OPCIONES</mat-header-cell>
                <mat-cell *matCellDef="let lesson">                              

                    <a title="Editar Proyecto" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="UpdateModal(lesson)"> <!---->
                        <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                        class="svg-icon svg-icon-md svg-icon-primary">
                        </span>
                    </a> 

                    <a title="Eliminar Proyecto" class="btn btn-icon btn-light btn-hover-danger btn-sm" (click)="deleteProyecto(lesson.idProyecto)" > <!---->
                        <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                        class="svg-icon svg-icon-md svg-icon-danger">
                        </span>
                    </a>                 

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="5">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="5">
                    No se encontraron registros.
                </mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}">
            </mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
        </mat-table> 

    </div>
    

    <div class="mat-table__bottom">
        <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
        
        <mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>     
  </div>