.mat-column-Nro {
    min-width: 80px;
    width: 100%;
    flex: 0 0 80px;
}
.mat-column-Nombre {
    min-width: 200px;
    width: 100%;
    flex: 0 0 200px;
}
.mat-column-actions {
    justify-content: center;
}
.mat-column-Descripcion {
    min-width: 200px;
    width: 100%;
    flex: 0 0 200px;
}

