<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Stock Ecommerce</h3>
        </div>
        <div class="card-toolbar">
            <button type="button" (click)="create()" class="btn btn-primary">Registrar stock</button>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="row" [formGroup]="filterGroup">
                        <div class="col-lg-4 col-6 mb-5">
                            <ng-select #agreeSelect [clearSearchOnAdd]="false" formControlName="Establecimiento"
                                name="Establecimiento" [searchable]="true" placeholder="Seleccione Establecimiento"
                                (change)="getListarStockEcommerce($event)">
                                <ng-option *ngFor="let item of array_establecimiento" [value]="item.idEstablecimiento">
                                    {{item.nombre}}
                                </ng-option>
                            </ng-select>
                            <small class="form-text text-muted"><b>Filtrar</b> por establecimiento</small>
                        </div>
                        <div class="col-lg-4 col-6 mb-5 offset-lg-4" [formGroup]="searchGroup">
                            <input type="text" class="form-control" name="searchText" placeholder="Buscar" value=""
                                formControlName="searchTerm" (keyup)="search()" /><small
                                class="form-text text-muted"><b>Buscar</b> en todos los campos</small>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Filtration form -->
        <!-- begin:Table -->
        <!-- <div class="table-responsive angular-bootstrap-table mat-table__wrapper"></div> -->
        <div class="table-responsive angular-bootstrap-table mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort perfectScrollbar>
                <ng-container matColumnDef="Nro">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
                    <mat-cell *matCellDef="let i = index;">{{matPaginator.pageSize * matPaginator.pageIndex + i + 1}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>OPERACIONES</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <a *ngIf="lesson.idEstado != '0003'" title="Edit stock"
                            class="btn btn-icon btn-light btn-hover-success btn-sm mx-3"
                            (click)="edit(lesson.idStockEcommerce)">
                            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-primary">
                            </span>
                        </a>

                        <!-- class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" -->

                        <a *ngIf="lesson.idEstado" title="Copy stock"
                            class="btn btn-icon btn-light btn-hover-warning btn-sm mx-3"
                            (click)="edit(lesson.idStockEcommerce,1)">
                            <span [inlineSVG]="'./assets/media/svg/icons/General/Duplicate.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-primary">
                            </span>
                        </a>
                        <!-- <a title="Delete stock" class="btn btn-icon btn-light btn-hover-danger btn-sm" (click)="delete(lesson)">
                            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                            class="svg-icon svg-icon-md svg-icon-danger">
                            </span>
                        </a> -->
                    </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="Activo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <span class="switch">
                            <label>
                                <input type="checkbox" name="Activo" [(ngModel)]="lesson.activo" (click)="enableDisableStock(lesson)">
                                <span></span>
                            </label>
                        </span>
                    </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="Fecha">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.fecha | date : 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Establecimiento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Establecimiento</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.nombreEstablecimiento | uppercase}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                   <mat-cell *matCellDef="let lesson">
                        <div style="height: 100%; width: 100%; display: flex; flex-direction:column">
                            <a title="lesson.estado" class="btn btn-light btn-sm mx-3 estado"
                                [style.color]="lesson.colorTexto" [style.background]="lesson.colorFondo">
                                {{lesson.nombre}}
                            </a>
                            <small style="font-weight: bolder; text-align: center; color: #aa1111"
                                *ngIf="lesson.repetido">REPETIDO</small>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="5">
                        Loading data...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="5">
                        No se encontraron registros.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}">
                </mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>
        </div>

        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
            <mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

    </div>
</div>