.mat-column-Nro{
  max-width: 60px;
  text-align: center;
}


.mat-column-ACTIVO{
  display: flex;
  align-self: center;
}

.mat-column-MARCA{
  display: flex;
  align-content: center;
}

.ng-select-container{
  width: 100%;
}