<div class="card card-custom gutter-b">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">Comisión de ventas</h3>
		</div>
		<div class="card-toolbar">
			<button type="button" class="btn btn-success" >Descargar comisiones</button>
		</div>
	</div>
	<div class="card-body">
		<!-- begin: Filtration form -->
		<div class="form form-label-right">
			<div class="form-group row">
				<div class="col-lg-8">
					<div class="row" [formGroup]="filterGroup">

						<div class="col-lg-3">
 
							<ng-select #agreeSelect [clearSearchOnAdd]="false" formControlName="Empresa"
									[searchable]="true" placeholder="Empresa" (change)="GetComisionesVentas($event, filterGroup.controls.Desde.value, filterGroup.controls.Hasta.value, filterGroup.controls.Estado.value)">
									<ng-option *ngFor="let item of array_empresas" [value]="item.idEmpresa">
											{{item.razonSocial}}
									</ng-option>
							</ng-select>

							<!-- <ng-select formControlName="Cliente" [items]="array_empresas" bindLabel="razonSocial" bindValue="idEmpresa"></ng-select> -->
							<small class="form-text text-muted"><b>Filtrar</b> por Empresa</small>
						</div>

						<div class="col-lg-3">
							
							<input class="form-control" formControlName="Desde" type="date" (change)="GetComisionesVentas(filterGroup.controls.Empresa.value, $event.target.value, filterGroup.controls.Hasta.value, filterGroup.controls.Estado.value)">

							<!-- <ng-select formControlName="Cliente" [items]="array_empresas" bindLabel="razonSocial" bindValue="idEmpresa"></ng-select> -->
							<small class="form-text text-muted"><b>Filtrar</b> por Desde</small>
						</div>

						<div class="col-lg-3">

							<input class="form-control" formControlName="Hasta" type="date" (change)="GetComisionesVentas(filterGroup.controls.Empresa.value, filterGroup.controls.Desde.value, $event.target.value, filterGroup.controls.Estado.value)">

							<small class="form-text text-muted"><b>Filtrar</b> por Hasta</small>
						</div>

						<div class="col-lg-3">
							<ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="Estado" (change)="GetComisionesVentas(filterGroup.controls.Empresa.value, filterGroup.controls.Desde.value, filterGroup.controls.Hasta.value, $event)">
									<ng-option *ngFor="let item of array_estado" [value]="item.Valor">
											{{item.Nombre}}
									</ng-option>
							</ng-select>
							<small class="form-text text-muted"><b>Filtrar</b> por Estado</small>
						</div>

					</div>
				</div>
				<div class="col-lg-4" [formGroup]="searchGroup">
					<input type="text" class="form-control" name="searchText" placeholder="Buscar" value="" (keyup)="search()"
						formControlName="searchTerm" /><small class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
				</div>
			</div>
			
			<div class="row justify-content-end pb-3">
				<div>
					<button type="button" class="btn btn-success">
						Marcar pagado todos
					</button>
				</div>
				<div class="ml-3">
					<button type="button" class="btn btn-warning">
						Enviar todos a finanzas
					</button>
				</div>
			</div>
		</div>

		<div class="table-responsive angular-bootstrap-table mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" style="width: fit-content;" [dataSource]="listData" matSort perfectScrollbar>

					<ng-container matColumnDef="Nro">
							<mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
							<mat-cell *matCellDef="let i=index">{{matPaginator.pageSize * matPaginator.pageIndex + i + 1}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="Codigo">
							<mat-header-cell *matHeaderCellDef mat-sort-header>CÓDIGO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.Codigo}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="NContrato">
							<mat-header-cell *matHeaderCellDef mat-sort-header>N° CONTRATO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.nroContrato}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="Asesor">
							<mat-header-cell *matHeaderCellDef mat-sort-header>ASESOR</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.asesorComercial}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="Asociado">
							<mat-header-cell *matHeaderCellDef mat-sort-header>ASOCIADO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.asociadoComercial}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="TipoServicio">
							<mat-header-cell *matHeaderCellDef mat-sort-header>TIPO SERVICIO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.tipoServicio}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="TipoInmueble">
							<mat-header-cell *matHeaderCellDef mat-sort-header>TIPO INMUEBLE</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.tipoInmueble}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="Distrito">
							<mat-header-cell *matHeaderCellDef mat-sort-header>DISTRITO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.distrito}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="Direccion">
							<mat-header-cell *matHeaderCellDef mat-sort-header>DIRECCION</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.direccion}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="Cliente">
							<mat-header-cell *matHeaderCellDef mat-sort-header>CLIENTE</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.Cliente}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="CargoFijo">
							<mat-header-cell *matHeaderCellDef mat-sort-header>CARGO FIJO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.cargoFijo}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="PlanContratado">
							<mat-header-cell *matHeaderCellDef mat-sort-header>PLAN <br>CONTRATADO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.planContrato}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="TipoDocIdentidad">
							<mat-header-cell *matHeaderCellDef mat-sort-header>TIPO DOC. IDENTIDAD</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.TipoDocumento}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="DocIdentidad">
							<mat-header-cell *matHeaderCellDef mat-sort-header>DOC. IDENTIDAD</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.documentoIdentidad}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="FechaCargaConecta">
							<mat-header-cell *matHeaderCellDef mat-sort-header>FECHA CARGA<br>CONECTA</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.fechaRegistroCRM | date : 'dd/MM/yyyy'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="EstadoVentaWin">
							<mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO<br>VENTA WIN</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.estadoVentaInterna}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="EstadoInstalacion">
							<mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO<br>INSTALACION</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.estadoVentaInstalacion}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="FechaInstalacion">
							<mat-header-cell *matHeaderCellDef mat-sort-header>FECHA<br>INSTALACION</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.fechaInstalacion | date : 'dd/MM/yyyy'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="ComisionAsesor">
							<mat-header-cell *matHeaderCellDef mat-sort-header>COMISION<br>ASESOR</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.comisionAsesor}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="ComisionLider">
							<mat-header-cell *matHeaderCellDef mat-sort-header>COMISION<br>LIDER</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.comisionAsociado}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="Estado">
							<mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
							<mat-cell *matCellDef="let lesson">{{lesson.estadoComisionVenta}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef>OPERACIONES</mat-header-cell>
							<mat-cell *matCellDef="let lesson">                              

									<a title="Editar Esquema Comision" class="btn btn-icon btn-light btn-hover-warning btn-sm mx-3">
											<span [inlineSVG]="'./assets/media/svg/icons/Communication/Send.svg'" cacheSVG="true"
											class="svg-icon svg-icon-md svg-icon-warning">
											</span>
									</a>

									<a title="Borrar Esquema Comision" class="btn btn-icon btn-light btn-hover-success btn-sm">
											<span [inlineSVG]="'./assets/media/svg/icons/Code/Done-circle.svg'" cacheSVG="true"
											class="svg-icon svg-icon-md svg-icon-success">
											</span>
									</a>

									<!-- <button mat-icon-button style="color: #00A09D !important" type="button" 
									[routerLink]="['/Ventas/Configuracion/Banco/edit']" [queryParams]="{id: lesson.Banco}" matTooltip="Editar Banco">
										<mat-icon>create</mat-icon>
									</button>

									<button mat-icon-button style="color: #b7343d !important" type="button" 
									(click)="eliminarActivar(lesson.Banco, false)" matTooltip="Eliminar Banco">
											<mat-icon>delete</mat-icon>
									</button> -->

							</mat-cell>
					</ng-container>

					<ng-container matColumnDef="loading">
							<mat-footer-cell *matFooterCellDef colspan="6">
									Loading data...
							</mat-footer-cell>
					</ng-container>
					<ng-container matColumnDef="noData">
							<mat-footer-cell *matFooterCellDef colspan="6">
									No se encontraron registros.
							</mat-footer-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

					<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
					<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}">
					</mat-footer-row>
					<mat-footer-row *matFooterRowDef="['noData']"
							[ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
			</mat-table>
	</div>

	<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
			<mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>      
	</div>
</div>
