<!-- splash screen -->
<div #splashScreen id="splash-screen">
  <div class="d-flex justify-content-center align-items-end pb-3">    
    <!-- <img class="d-none d-md-block"src='../../../assets/wc-capital/Pantalla-de-carga.png' alt="Logo" width="250px" />
    <img class="d-block d-md-none"src='../../../assets/wc-capital/Pantalla-de-carga.png' alt="Logo" width="150px" /> -->
    <h1 class="text-white" style="font-size: 4rem;">GEXTIONA</h1>
  </div>
  <svg class="splash-spinner" viewBox="0 0 50 50">
    <circle
      class="path"
      cx="25"
      cy="25"
      r="20"
      fill="none"
      stroke-width="5"
    ></circle>
  </svg>
</div>
