.mat-row {
    width: 100%;
    min-width: 1120px;
}

.mat-header-row {
    width: 100%;
    min-width: 1120px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
}

.mat-column-Nro{
    min-width: 50px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 50px;
    justify-content: center;
    text-align: center;
}


.mat-column-ACTIVO{
    min-width: 100px;
    white-space: pre-wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-self: center;
}

.mat-column-OPCIONES {
    min-width: 150px;
    white-space: pre-wrap;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.mat-column-CATEGORIA {
    min-width: 200px;
    white-space: pre-wrap;
    width: 100%;
    justify-content: left;
    text-align: left;
}

.mat-column-SUBCATEGORIA {
    min-width: 200px;
    white-space: pre-wrap;
    width: 100%;
    justify-content: left;
    text-align: left;
}

.mat-column-NOMBRE {
    min-width: 200px;
    white-space: pre-wrap;
    width: 100%;
    justify-content: left;
    text-align: left;
}

.mat-column-DESCRIPCION {
    min-width: 220px;
    white-space: pre-wrap;
    width: 100%;
    justify-content: left;
    text-align: left;
}

.ng-select-container{
    width: 100%;
}