<ng-container >
    <div class="card card-custom card-stretch" [formGroup]="formDatosPersonales">
      
      <!--begin::Header-->
      <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
          <h3 class="card-label font-weight-bolder text-dark">Informacion Personal</h3>
          <span class="text-muted font-weight-bold font-size-sm mt-1">Aquí puedes ver tu información</span>
        </div>
        
      </div>
      <!--end::Header-->
      <!--begin::Form-->
      <div class="form">
        <!--begin::Body-->
        <div class="card-body">
          <div class="row">
            <label class="col-xl-3"></label>
            <div class="col-lg-9 col-xl-6">
              <h5 class="font-weight-bold mb-6">Datos del Usuario</h5>
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Nombres</label>
            <div class="col-lg-9 col-xl-8">
              <input class="form-control form-control-lg form-control-solid"
                readonly
                type="text"
                formControlName="Nombre"
                
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Apellido Paterno</label>
            <div class="col-lg-9 col-xl-8">
              <input class="form-control form-control-lg form-control-solid"
                readonly
                type="text"
                
                formControlName="ApePaterno"
                
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Apellido Materno</label>
            <div class="col-lg-9 col-xl-8">
              <input class="form-control form-control-lg form-control-solid"
                readonly
                type="text"
                
                formControlName="ApeMaterno"
                
              />
            </div>
          </div>
    
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Telefono</label>
            <div class="col-lg-9 col-xl-8">
              <div class="input-group input-group-lg input-group-solid">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-phone"></i>
                  </span>
                </div>
                <input type="text"
                  class="form-control form-control-lg form-control-solid" 
                  readonly
                  placeholder="Telefono"
                  formControlName="Telefono"
                  
                />
              </div>
              
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Celular</label>
            <div class="col-lg-9 col-xl-8">
              <div class="input-group input-group-lg input-group-solid">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-phone"></i>
                  </span>
                </div>
                <input type="text"
                  class="form-control form-control-lg form-control-solid" 
                  readonly
                  placeholder="Celular"
                  formControlName="Celular"
                  
                />
              </div>
              
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
            <div class="col-lg-9 col-xl-8">
              <div class="input-group input-group-lg input-group-solid">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-at"></i>
                  </span>
                </div>
                <input type="email"
                  class="form-control form-control-lg form-control-solid"
                  readonly
                  placeholder="Email"
                  formControlName="Email"
                  
                />
              </div>
            </div>
          </div>
          
        </div>
        <!--end::Body-->
      </div>
      <!--end::Form-->
    </div>
  </ng-container>
