<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <ng-container>
          <ng-container>Cambiar Contraseña</ng-container>        
        </ng-container>
      </div>
    </div>
    <div
      class="overlay overlay-block cursor-default modal-body">
      <ng-container *ngIf="isLoading$ | async">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
      </ng-container>
  
      <ng-container>
        <form action="#" class="form form-label-right" [formGroup]="formGroup"> 
          <div class="form-group">    
         
              <div class="row">
                <div class="col-lg-12">
                    <label class="form-label">Contraseña Actual</label>
                    <input type="password" class="form-control form-control-lg form-control-solid" name="PassActual" placeholder="Contraseña Actual" autocomplete="off" [class.is-invalid]="isControlInvalid('PassActual')" [class.is-valid]="isControlValid('PassActual')" formControlName="PassActual" (change)="onPressed()"/>             
                    <div class="invalid-feedback" *ngIf="controlHasError('required', 'PassActual')"> Contraseña Actual es obligatorio. </div> 
                  </div>
              </div>    
              
              <br>
                     
              
              <div class="row">
                <div class="col-lg-12">
                    <label class="form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control form-control-lg form-control-solid" name="PassNew" placeholder="Nueva Contraseña" autocomplete="off" [class.is-invalid]="isControlInvalid('PassNew')" [class.is-valid]="isControlValid('PassNew')" formControlName="PassNew"/>             
                    <div class="invalid-feedback" *ngIf="controlHasError('required', 'PassNew')"> Nueva Contraseña es obligatorio. </div> 
                  </div>
              </div>    
              
              <br>

              <div class="row">
                <div class="col-lg-12">
                    <label class="form-label">Repetir Nueva Contraseña</label>
                    <input type="password" class="form-control form-control-lg form-control-solid" name="PassNewRepeat" placeholder="Repetir Nueva Contraseña" autocomplete="off" [class.is-invalid]="isControlInvalid('PassNewRepeat')" [class.is-valid]="isControlValid('PassNewRepeat')" formControlName="PassNewRepeat"/>             
                    <div class="invalid-feedback" *ngIf="controlHasError('required', 'PassNewRepeat')"> Contraseña es obligatorio. </div> 
                  </div>
              </div>    
              
          </div>                    
        </form>
      </ng-container>
    </div>
    <div class="modal-footer">      
      <ng-container>
        <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid">
          Guardar
        </button>
      </ng-container>
    </div>
  </div>
  
