.mat-row {
    min-width: 750px;
    width: 100%;
}

.mat-header-row {
    min-width: 750px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
}

.mat-column-Nro {
    min-width: 50px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 50px;
    justify-content: center;
}

.mat-column-CodigoDC {
    min-width: 45%;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 45%;
    justify-content: center;
}

.mat-column-EstadoDC {
    min-width: 45%;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 45%;
    justify-content: center;
}

.mat-column-CodigoNA {
    min-width: 30%;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 30%;
    justify-content: center;
}

.mat-column-FechaContable {
    min-width: 30%;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 30%;
    justify-content: center;
}

.mat-column-EstadoNA {
    min-width: 30%;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 30%;
    justify-content: center;
}