<div class="form form-label-right">
    <div class="form-group row">
        <div class="col-lg-12">
            <div [formGroup]="formPedidoVenta">
                <div class="row">
                    <div class="col-lg-4 col-6 mb-5">
                        <label>Código</label>
                        <input type="text" readonly class="form-control form-control-lg form-control-solid"
                            name="Codigo" placeholder="Código" autocomplete="off" formControlName="Codigo" />
                    </div>
                    <div class="col-lg-4 col-6 mb-5">
                        <label>Cliente</label>
                        <input type="text" readonly class="form-control form-control-lg form-control-solid"
                            name="Cliente" placeholder="Cliente" autocomplete="off" formControlName="Cliente" />
                    </div>
                    <div class="col-lg-4 col-6 mb-5">
                        <label>Tipo de documento</label>
                        <input type="text" readonly class="form-control form-control-lg form-control-solid"
                            name="TipoDocumento" placeholder="Tipo de documento" autocomplete="off" formControlName="TipoDocumento" />
                    </div>
                    <div class="col-lg-4 col-6 mb-5">
                        <label>Fecha de emisión </label>
                        <input type="date" class="form-control form-control-lg form-control-solid"
                            name="FechaEmision" placeholder="Fecha de emisión" autocomplete="off" formControlName="FechaEmision" />
                    </div>
                    <div class="col-lg-4 col-6 mb-5">
                        <label>Fecha de entrega </label>
                        <input type="date" class="form-control form-control-lg form-control-solid"
                            name="FechaEntrega" placeholder="Fecha de entrega" autocomplete="off"formControlName="FechaEntrega" />
                    </div>
                    <div class="col-lg-4 col-6 mb-5">
                        <label>Tipo de moneda</label>
                        <input type="text" readonly class="form-control form-control-lg form-control-solid"
                            name="TipoMoneda" placeholder="Tipo de moneda" autocomplete="off" formControlName="TipoMoneda" />
                    </div>
                    <div class="col-12 mb-5">
                        <label>Observación</label>
                        <textarea class="form-control" rows="3" formControlName="Observacion" name="Observacion"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5" style="overflow-x: auto;">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <th>OPERACIONES</th>
                <th>CODIGO</th>
                <th>DESCRIPCIÓN</th>
                <th>CANTIDAD</th>
                <th>STOCK ALMACEN</th>
                <th>UNIDAD MEDIDA</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of array_materiales; let i = index">
                    <tr>
                        <td style="vertical-align: middle;">
                            <button title="Eliminar material" class="btn btn-icon btn-light btn-hover-danger btn-sm mr-3" [disabled]="true">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-danger"></span>
                            </button>
                        </td>
                        <td style="vertical-align: middle;">
                            {{ array_materiales[i].codigo }}
                        </td>
                        <td style="vertical-align: middle; min-width: 8vw;">
                            {{ array_materiales[i].nombreMaterial }}
                        </td>
                        <td style="vertical-align: middle;">
                            {{ fixedValor(array_materiales[i].cantidad) }}
                        </td>
                        <td style="vertical-align: middle;">
                            {{ fixedValor(array_materiales[i].stock) }}
                        </td>
                        <td style="vertical-align: middle; min-width: 8vw;">
                            {{ array_materiales[i].unidadMedida }}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Eliminar material</h4>
        <button type="button" class="btn btn-icon" aria-label="Close" (click)="modal.dismiss(false)">
            <span [inlineSVG]="'./assets/media/svg/icons/Code/Error-circle.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-hover-dark">
            </span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <p>¿Estas seguro de que deseas eliminar el material?</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss(false)">No</button>
        <button type="button" class="btn btn-primary btn-elevate" (click)="modal.close(true)">Sí</button>
    </div>
</ng-template>