<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Nuevo Pedido de Venta</h3>
        </div>
    </div>

    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item cursor-pointer" (click)="changeTab(tabs.DATOS_DOC)">
                <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.DATOS_DOC"
                    [class.active]="activeTabId === tabs.DATOS_DOC">Datos Generales</a>
            </li>
            <li class="nav-item cursor-pointer" (click)="changeTab(tabs.DETALLE)">
                <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-selected]="activeTabId === tabs.DETALLE"
                    [class.active]="activeTabId === tabs.DETALLE">Detalle</a>
            </li>
            <li class="nav-item cursor-pointer" (click)="changeTab(tabs.ULTIMAS_VENTAS)">
                <a class="nav-link" data-toggle="tab" role="button" [attr.aria-selected]="activeTabId === tabs.ULTIMAS_VENTAS"
                    [class.active]="activeTabId === tabs.ULTIMAS_VENTAS">Ultimas Ventas</a>
            </li>
        </ul>

        <ng-container *ngIf="activeTabId === tabs.DATOS_DOC">
            <div class="card-body">
                <div class="form form-label-right">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div [formGroup]="formDatosGenerales">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6 mb-5">
                                        <label>Clientes</label>
                                        <div class="row">
                                            <div class="col-10 pr-0">
                                                <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true"
                                                    formControlName="Cliente" (change) = "getClienteSucursal($event); getUltimasVentas($event);"
                                                    [class.is-invalid]="isFormControlInvalid(controlsDatos.Cliente)"
                                                    placeholder="Seleccione un cliente">
                                                    <ng-option *ngFor="let item of array_clientes"
                                                        [value]="item.idCliente">
                                                        {{ item.documentoIdentidad }} | {{ item.razonSocial }}
                                                    </ng-option>
                                                </ng-select>
                                                <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.Cliente)">
                                                    Cliente es obligatorio. 
                                                </div>
                                            </div>
                                            <div class="col-2 pl-0">
                                                <button title="Add cliente" class="btn btn-primary btn-sm"
                                                    (click)="nuevoCliente()">
                                                    <span [inlineSVG]="'./assets/media/svg/icons/Code/Plus.svg'"
                                                        title="Add proveedor" cacheSVG="true"
                                                        class="svg-icon pl-1 svg-icon-md svg-icon-hover-primary">
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 mb-5">
                                        <label>Cliente sucursal</label>
                                        <div class="row">
                                            <div class="col-10 pr-0">
                                                <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="ClienteSucursal"
                                                    (change)="buscarCliente($event);"
                                                    [class.is-invalid]="isFormControlInvalid(controlsDatos.ClienteSucursal)"
                                                    placeholder="Seleccione una sucursal de cliente">
                                                    <ng-option *ngFor="let item of array_cliente_sucursal" [value]="item.idClienteSucursal">
                                                        {{item.direccion}}
                                                    </ng-option>
                                                </ng-select>
                                                <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.ClienteSucursal)"> Cliente
                                                    sucursal es obligatorio. 
                                                </div>
                                            </div>
                                            <div class="col-2 pl-0">
                                                <button title="Add sucursal" class="btn btn-primary btn-sm"
                                                    (click)="nuevaSucursal()">
                                                    <span [inlineSVG]="'./assets/media/svg/icons/Code/Plus.svg'"
                                                        title="Add sucursal" cacheSVG="true"
                                                        class="svg-icon pl-1 svg-icon-md svg-icon-hover-primary">
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 mb-5">
                                        <label>Tipo Precio</label>
                                        <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="TipoPrecio"
                                            [class.is-invalid]="isFormControlInvalid(controlsDatos.TipoPrecio)"
                                            placeholder="Seleccione un tipo de precio">
                                            <ng-option *ngFor="let item of array_tipoPrecios" [value]="item.valor">
                                                {{item.nombre}}
                                            </ng-option>
                                        </ng-select>
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.TipoPrecio)"> Tipo
                                            de precio es obligatorio. 
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mb-5">
                                        <label>F. Ult. Venta</label>
                                        <input type="date" readonly class="form-control form-control-lg form-control-solid"
                                            name="FechaUltimaVenta" placeholder="F. Ult. Venta" autocomplete="off"
                                            formControlName="FechaUltimaVenta" />
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mb-5">
                                        <label class="form-label">Monto histórico venta</label>
                                        <input type="text" readonly class="form-control form-control-lg form-control-solid"
                                            name="MontoHistorico" placeholder="Monto histórico compra" autocomplete="off"
                                            formControlName="MontoHistorico" />
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mb-5">
                                        <label>Tipo Documento</label>
                                        <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="TipoDocumento"
                                            [class.is-invalid]="isFormControlInvalid(controlsDatos.TipoDocumento)"
                                            placeholder="Seleccione un tipo de documento">
                                            <ng-option *ngFor="let item of array_tipoDocumentos" [value]="item.valor">
                                                {{item.nombre}}
                                            </ng-option>
                                        </ng-select>
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.TipoDocumento)"> Tipo
                                            Documento es obligatorio. </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mb-5">
                                        <label>Forma de Pago</label>
                                        <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="FormaPago"
                                            [class.is-invalid]="isFormControlInvalid(controlsDatos.FormaPago)" placeholder="Seleccione una forma de pago">
                                            <ng-option *ngFor="let item of array_formasPago" [value]="item.idFormaPago">
                                                {{item.nombre}}
                                            </ng-option>
                                        </ng-select>
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.FormaPago)"> Forma de
                                            Pago es obligatorio. </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mb-5">
                                        <label>Fecha de emisión </label>
                                        <input type="date" class="form-control form-control-lg form-control-solid"
                                            (change)="changeFechaEmision()" name="FechaEmision" placeholder="Fecha de emisión"
                                            autocomplete="off" [class.is-invalid]="isFormControlInvalid(controlsDatos.FechaEmision)"
                                            [class.is-valid]="isFormControlValid(controlsDatos.FechaEmision)" formControlName="FechaEmision" />
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.FechaEmision)"> Fecha
                                            de emisión es obligatorio.
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mb-5">
                                        <label>Fecha de entrega </label>
                                        <input type="date" class="form-control form-control-lg form-control-solid"
                                            name="FechaEntrega" placeholder="Fecha de entrega" autocomplete="off"
                                            [min]="controlsDatos.FechaEmision.value"
                                            [class.is-invalid]="isFormControlInvalid(controlsDatos.FechaEntrega)"
                                            [class.is-valid]="isFormControlValid(controlsDatos.FechaEntrega)" formControlName="FechaEntrega" />
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.FechaEntrega)"> Fecha
                                            de entrega es obligatorio.
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mb-5">
                                        <label>Tipo de moneda</label>
                                        <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" (change)="changeTipoCambio()"
                                            formControlName="TipoMoneda" [class.is-invalid]="isFormControlInvalid(controlsDatos.TipoMoneda)"
                                            placeholder="Seleccione un tipo de moneda">
                                            <ng-option *ngFor="let item of array_tiposMoneda" [value]="item.ValorMoneda">
                                                {{item.NombreMoneda}}
                                            </ng-option>
                                        </ng-select>
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.TipoMoneda)"> Tipo de
                                            moneda es obligatorio. </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mb-5">
                                        <label class="form-label">Tasa de cambio</label>
                                        <div class="row">
                                            <div class="col-10 pr-0">
                                                <input type="number" min="0.01" step="0.01" class="form-control form-control-lg form-control-solid"
                                                    name="TasaCambio" placeholder="Tasa de cambio" autocomplete="off"
                                                    [class.is-invalid]="isFormControlInvalid(controlsDatos.TasaCambio)"
                                                    [class.is-valid]="isFormControlValid(controlsDatos.TasaCambio)" formControlName="TasaCambio" />
                                                <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.TasaCambio)">
                                                    Tasa de cambio es obligatorio.
                                                </div>
                                            </div>
                                            <div class="col-2 pl-0">
                                                <button title="Add tasa de cambio" class="btn btn-primary btn-sm" style="height: 100%;"
                                                    [disabled]="disableBtnTasaCambio" (click)="agregarTasaCambio(controlsDatos.FechaEmision.value)">
                                                    <span [inlineSVG]="'./assets/media/svg/icons/Code/Plus.svg'" cacheSVG="true"
                                                        class="svg-icon pl-2 svg-icon-md svg-icon-hover-primary">
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-6 mb-5">
                                        <label>Establecimiento</label>
                                        <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true"formControlName="Establecimiento" 
                                            [class.is-invalid]="isFormControlInvalid(controlsDatos.Establecimiento)" placeholder="Seleccione un establecimiento">
                                            <ng-option *ngFor="let item of array_establecimientos"
                                                [value]="item.idEstablecimiento">
                                                {{item.nombre}}
                                            </ng-option>
                                        </ng-select>
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.Establecimiento)">
                                            Establecimiento es obligatorio. 
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 mb-5">
                                        <label>Incluye IGV</label>
                                        <span class="switch">
                                            <label>
                                                <input type="checkbox" name="IncluyeIgv" formControlName="IncluyeIgv"
                                                    (change)="activarIncluyeIgv()">
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mb-5">
                                        <label class="form-label">Número de decimales</label>
                                        <input type="text" class="form-control form-control-lg form-control-solid" (keyup)="fixearDecimales()" name="NumeroDecimales" 
                                            placeholder="Número de decimales " autocomplete="off" [class.is-invalid]="isFormControlInvalid(controlsDatos.NumeroDecimales)"
                                            [class.is-valid]="isFormControlValid(controlsDatos.NumeroDecimales)" formControlName="NumeroDecimales" />
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', controlsDatos.NumeroDecimales)">
                                            Numero de decimales es obligatorio. 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div [hidden]="activeTabId != tabs.DETALLE">
            <div class="mt-5">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <div class="row" [formGroup]="filterGroupMat">
                            <div class="col-lg-3 col-6 mb-5">
                                <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true"
                                    (change)="getSubCategoria($event); getMateriales($event, filterGroupMat.controls.SubCategoria.value, filterGroupMat.controls.Clase.value);"
                                    formControlName="Categoria">
                                    <ng-option *ngFor="let item of array_categorias" [value]="item.Categoria">
                                        {{item.NombreCategoria}}
                                    </ng-option>
                                </ng-select>
                                <small class="form-text text-muted"><b>Filtrar</b> por categoría</small>
                            </div>
                            <div class="col-lg-3 col-6 mb-5">
                                <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true"
                                    (change)="buscarCategoria($event); getClase($event); getMateriales(filterGroupMat.controls.Categoria.value, $event, filterGroupMat.controls.Clase.value);"
                                    formControlName="SubCategoria">
                                    <ng-option *ngFor="let item of array_subcategorias" [value]="item.Subcategoria">
                                        {{item.NombreSubcategoria}}
                                    </ng-option>
                                </ng-select>
                                <small class="form-text text-muted"><b>Filtrar</b> por subcategoria</small>
                            </div>
                            <div class="col-lg-3 col-6 mb-5">
                                <ng-select #agreeSelect [clearSearchOnAdd]="false" [searchable]="true" formControlName="Clase"
                                    (change)="buscarSubcategoria($event);getMateriales(filterGroupMat.controls.Categoria.value, filterGroupMat.controls.SubCategoria.value, $event)">
                                    <ng-option *ngFor="let item of array_clases" [value]="item.Clase">
                                        {{item.NombreClase}}
                                    </ng-option>
                                </ng-select>
                                <small class="form-text text-muted"><b>Filtrar</b> por clase</small>
                            </div>
                            <div class="col-lg-3 col-6 mb-5">
                                <input type="text" class="form-control" name="searchMaterial" placeholder="Buscar material"
                                    formControlName="searchMaterial" (keyup)="searchMaterial()" />
                                <small class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive angular-bootstrap-table mat-table__wrapper">
                <mat-table class="lmat-elevation-z8" [dataSource]="listMateriales" matSort perfectScrollbar>
        
                    <ng-container matColumnDef="Acciones">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>OPERACIONES</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">
                            <a title="Agregar material" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                                (click)="agregarMaterial(lesson)">
                                <span [inlineSVG]="'./assets/media/svg/icons/Code/Plus.svg'" cacheSVG="true"
                                    class="svg-icon svg-icon-md svg-icon-primary">
                                </span>
                            </a>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Codigo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>CÓDIGO</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.codigo}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Material">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>MATERIAL</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.nombreMaterial}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Categoria">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORIA</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.nombreCategoria}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Subcategoria">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>SUBCATEGORIA</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.nombreSubcategoria}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Clase">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>CLASE</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.nombreClase}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Marca">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>MARCA</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.marca}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Modelo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>MODELO</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.modelo}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="loading">
                        <mat-footer-cell *matFooterCellDef colspan="8">
                            Loading data...
                        </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                        <mat-footer-cell *matFooterCellDef colspan="8">
                            No se encontraron registros.
                        </mat-footer-cell>
                    </ng-container>
        
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listMateriales!=null}">
                    </mat-footer-row>
                    <mat-footer-row *matFooterRowDef="['noData']"
                        [ngClass]="{'hide': !(listMateriales!=null && listMateriales.data.length==0)}">
                    </mat-footer-row>
                </mat-table>
            </div>
            <div class="mat-table__bottom">
                <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
                <mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <br>
            <br>
            <div class="row" style="overflow-x: auto;">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <th>OPERACIONES</th>
                            <th>CODIGO</th>
                            <th>CANTIDAD</th>
                            <th>DESCRIPCIÓN</th>
                            <th>VALOR UNITARIO</th>
                            <th>DESCUENTO</th>
                            <th>IGV UNIT.</th>
                            <th>PRECIO UNITARIO</th>
                            <th>PRECIO TOTAL</th>
                            <th>UNIDAD MEDIDA</th>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of materiales.controls; let i = index">
                                <tr [formGroup]="item">
                                    <td style="vertical-align: middle; display: flex; align-items: center;">
                                        <button title="Eliminar material" class="btn btn-icon btn-light btn-hover-danger btn-sm mr-3" (click)="eliminarMaterial(i)">
                                            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                                class="svg-icon svg-icon-md svg-icon-danger">
                                            </span>
                                        </button>
                                    </td>
                                    <td style="vertical-align: middle; text-align:center;">
                                        {{ array_materiales[i].codigo }}
                                    </td>
                                    <td style="vertical-align: middle; min-width: 8vw;">
                                        <input type="number" class="form-control form-control-lg form-control-solid" name="Cantidad" autocomplete="off"
                                            (keyup)="calcularTotales(3, i)" (change)="calcularTotales(3, i)"
                                            [class.is-invalid]="isFormControlInvalid(item.controls.Cantidad)"
                                            [class.is-valid]="isFormControlValid(item.controls.Cantidad)"
                                            formControlName="Cantidad" placeholder="Cantidad" />
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', item.controls.Cantidad)">
                                            Cantidad es obligatorio. 
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        {{ array_materiales[i].nombreMaterial }}
                                    </td>
                                    <td style="vertical-align: middle; min-width: 8vw;">
                                        <input type="number" class="form-control form-control-lg form-control-solid"
                                            name="ValorUnit" [min]="0.01" step="0.01" (keyup)="calcularTotales(1, i)" autocomplete="off"
                                            [class.is-invalid]="isFormControlInvalid(item.controls.ValorUnit)"
                                            [class.is-valid]="isFormControlValid(item.controls.ValorUnit)"
                                            formControlName="ValorUnit" placeholder="Valor Unitario" />
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', item.controls.ValorUnit)">
                                            Valor Unitario es obligatorio.
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle; min-width: 8vw;">
                                        <input type="number" class="form-control form-control-lg form-control-solid"
                                            name="DescuentoUnit" [min]="0.01" step="0.01" (keyup)="calcularTotales(4, i)" autocomplete="off"
                                            [class.is-invalid]="isFormControlInvalid(item.controls.DescuentoUnit)"
                                            [class.is-valid]="isFormControlValid(item.controls.DescuentoUnit)"
                                            formControlName="DescuentoUnit" placeholder="Descuento Unitario" />
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', item.controls.DescuentoUnit)">
                                            Descuento Unitario es obligatorio. 
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        {{ fixLabel(array_materiales[i].igvUnit?array_materiales[i].igvUnit:0) }}
                                    </td>
                                    <td style="vertical-align: middle; min-width: 8vw;">
                                        <input type="number" class="form-control form-control-lg form-control-solid"
                                            name="PrecioUnit" [min]="0.01" step="0.01" (keyup)="calcularTotales(2, i)" autocomplete="off"
                                            [class.is-invalid]="isFormControlInvalid(item.controls.PrecioUnit)"
                                            [class.is-valid]="isFormControlValid(item.controls.PrecioUnit)"
                                            formControlName="PrecioUnit" placeholder="Precio Unitario" />
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', item.controls.PrecioUnit)">
                                            Precio Unitario es obligatorio. 
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle; min-width: 8vw;">
                                        <input type="number" class="form-control form-control-lg form-control-solid"
                                            name="PrecioTotal" [min]="0.01" step="0.01" autocomplete="off" readonly
                                            formControlName="PrecioTotal" placeholder="Precio Total" />
                                        <div class="invalid-feedback" *ngIf="FormControlHasError('required', item.controls.PrecioTotal)">
                                            Precio Total es obligatorio. 
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        {{ array_materiales[i].unidadMedida }}
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <div class="card card-custom bg-gray">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>SUBTOTAL</label>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <label *ngIf="subtotal>0">{{ fixLabel(subtotal) }}</label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6 mt-3">
                                    <label>DESCUENTO</label>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <label *ngIf="descuentoTotal>=0">{{ fixLabel(descuentoTotal) }}</label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>IGV</label>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <label *ngIf="igvTotal>0">{{ fixLabel(igvTotal) }}</label>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label><b>TOTAL</b></label>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <label *ngIf="total>0">{{ fixLabel(total) }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div [hidden]="activeTabId != tabs.ULTIMAS_VENTAS">
            <div class="mt-5">
                <div class="form form-label-right">
                    <div class="form-group row">
                        <div class="col-lg-8"></div>
                        <div class="col-lg-4" [formGroup]="filterGroupUltimas">
                            <input type="text" class="form-control" name="searchText" placeholder="Buscar" value=""
                                (keyup)="searchUltimasVentas()" formControlName="searchUltimas" /><small
                                class="form-text text-muted"><b>Buscar</b> en todos los
                                campos</small>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="table-responsive angular-bootstrap-table mat-table__wrapper">
                <mat-table class="lmat-elevation-z8" [dataSource]="listUltimasVentas" matSort perfectScrollbar>
        
                    <ng-container matColumnDef="Nro">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>N°</mat-header-cell>
                        <mat-cell *matCellDef="let i = index;">{{matPaginatorUC.pageSize * matPaginatorUC.pageIndex + i + 1}}
                        </mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Correlativo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.codigo}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="TipoDocumento">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.tipoDocumento}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Documento">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Documento</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.documento}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Moneda">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.moneda}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="FechaEmision">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>F. emisión</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.fechaEmision | date : 'dd/MM/yyyy'}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Total">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.total.toFixed(lesson.numDecimales)}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Material">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Material</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.material}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Cantidad">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.cantidad}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="PrecioUnitario">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Prec. Unitario</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.precioUnit.toFixed(lesson.numDecimales)}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Descuento">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Descuento</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.descuentoUnit.toFixed(lesson.numDecimales)}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="PrecioTotal">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Prec. Total</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.precioTotal.toFixed(lesson.numDecimales)}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Estado">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.estado}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="loadingUltimas">
                        <mat-footer-cell *matFooterCellDef colspan="8">
                            Loading data...
                        </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="noDataUltimas">
                        <mat-footer-cell *matFooterCellDef colspan="8">
                            No se encontraron registros.
                        </mat-footer-cell>
                    </ng-container>
        
                    <mat-header-row *matHeaderRowDef="displayedColumnsUlt"></mat-header-row>
        
                    <mat-row *matRowDef="let row; columns: displayedColumnsUlt"></mat-row>
                    <mat-footer-row *matFooterRowDef="['loadingUltimas']" [ngClass]="{'hide': listUltimasVentas!=null}">
                    </mat-footer-row>
                    <mat-footer-row *matFooterRowDef="['noDataUltimas']"
                        [ngClass]="{'hide': !(listUltimasVentas!=null && listUltimasVentas.data.length==0)}">
                    </mat-footer-row>
                </mat-table>
            </div>
            <div class="mat-table__bottom">
                <mat-spinner [diameter]="20" *ngIf="searchBanUltimas"></mat-spinner>
                <mat-paginator #matPaginatorUC [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-right">
            <button type="button" class="btn btn-light-danger btn-hover-danger font-weight-bold mr-2">
                <span [inlineSVG]="'./assets/media/svg/icons/Files/Selected-file.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-danger">
                </span> PDF</button>
            <button type="button" class="btn btn-primary font-weight-bold mr-2" disabled *ngIf="!hide_load_guardar">Guardando...</button>
            <button type="button" class="btn btn-primary font-weight-bold mr-2" *ngIf="hide_load_guardar" (click)="guardarPedidoVenta()"> 
                <span [inlineSVG]="'./assets/media/svg/icons/General/Save.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-hover-primary">
                </span> Guardar</button>
            <button type="button" class="btn btn-warning font-weight-bold mr-2" disabled *ngIf="!hide_load_liberar">Liberando...</button>
            <button type="button" class="btn btn-warning font-weight-bold mr-2" *ngIf="hide_load_liberar" (click)="liberarPedidoVenta()">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Send.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-hover-warning">
                </span> Liberar</button>
            <a class="btn btn-danger font-weight-bold mr-2" routerLink="/Sales/process/PedidoVenta"> <span [inlineSVG]="'./assets/media/svg/icons/Code/Error-circle.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-hover-danger">
            </span> Cancelar</a>
        </div>
    </div>
</div>