.mat-row {
    width: 100%;
}

.mat-header-row {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    text-align: center;
}

.mat-column-Nro {
    min-width: 40px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 40px;
    justify-content: center;
    text-align: center;
}

.mat-column-Empleado {
    min-width: 135px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 135px;
    justify-content: left;
}

.mat-column-FechaEmision {
    min-width: 100px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 100px;
    justify-content: left;
}

.mat-column-Documento {
    min-width: 100px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 100px;
    justify-content: left;
}

.mat-column-TipoDocumento {
    min-width: 100px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 100px;
    justify-content: left;
}

.mat-column-Moneda {
    min-width: 85px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 85px;
    justify-content: left;
}

.mat-column-Codigo {
    min-width: 100px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 100px;
    justify-content: left;
}

.mat-column-Cliente {
    width: 100%;
    flex: 0 0 100px;
    justify-content: left;
}

.mat-column-FechaEntrega {
    width: 100%;
    flex: 0 0 100px;
    justify-content: left;
}

.mat-column-FormaPago {
    width: 100%;
    flex: 0 0 100px;
    justify-content: left;
}

.mat-column-MedioPago {
    width: 100%;
    flex: 0 0 100px;
    justify-content: left;
}

.mat-column-Total {
    min-width: 90px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 90px;
    justify-content: left;
}

.mat-column-Estado {
    min-width: 120px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mat-column-Anticipo {
    min-width: 70px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 70px;
    justify-content: center;
}

.mat-column-actions {
    min-width: 70px;
    white-space: pre-wrap;
    width: 100%;
    flex: 0 0 70px;
    justify-content: center;
}

.dropdown-item {
    cursor: pointer;
}

.estado:hover {
    cursor: default;
}