<!--begin::Brand-->


<div class="brand flex-column-auto bg-wcapital" id="kt_brand" [ngClass]="brandClasses">
  <!--begin::Logo-->
  <a routerLink="/" class="brand-logo text-white">
    <!-- <img alt="Logo" [attr.src]="headerLogo" /> -->
    <!-- <h4 >Logo de empresa {{jwtUser.Sociedad}}</h4> -->
    <div class="d-flex justify-content-center align-items-end">    
      <h4 class="text-white" style="margin-bottom: 0px;">ECOPUNTOS</h4>
    </div>
  </a>
  <!--end::Logo-->


  <!-- <ng-template #mMenuListing>
    <ng-container *ngFor="let child of menuAsideService.menuList$ | async">
        <m-menu-section *ngIf="child.section" [item]="child"></m-menu-section>
        <ng-container *ngIf="child.Nombre" [ngTemplateOutlet]="mMenuItem" [ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
    </ng-container>
</ng-template> -->


<ng-container *ngIf="asideSelfMinimizeToggle">
  <button class="brand-toggle btn btn-sm p-0" id="kt_aside_toggle">
    <span
      [inlineSVG]="
        './assets/media/svg/icons/Navigation/Angle-double-left.svg'
      "
      cacheSVG="true"
      class="svg-icon svg-icon-xl"
    ></span>
  </button>
</ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid " id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/">
      <!-- <img alt="Logo" [attr.src]="headerLogo" /> -->
    </a>
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <div
    id="kt_aside_menu"
    class="aside-menu bg-wcapital-img"
    [ngClass]="asideMenuCSSClasses"
    data-menu-vertical="1"
    [attr.data-menu-scroll]="asideMenuScroll"
    [attr.data-menu-dropdown]="asideMenuDropdown"
    data-menu-dropdown-timeout="500"
  >
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses">
      <!-- begin::1 Level -->
      <!--  <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" *ngFor="let item of menuAsideService.menuList$ | async">
        <a class="menu-link" [routerLink]="item.Url" *ngIf="(!item.SubNavegacion || (item.SubNavegacion &&  item.SubNavegacion.length===0))" routerLinkActive="active">
          <span [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'" cacheSVG="true" class="svg-icon menu-icon"></span>
          <span class="menu-text">{{item.Nombre}}</span>
        </a>
      </li> -->
      <!-- end::1 Level -->

      <!-- Components -->


      <!-- Applications -->
      <!-- begin::section -->
      <li class="menu-section li-wcapital">
        <h4 class="menu-text h6">Aplicaciones</h4>
        
        <!-- <i class="menu-icon flaticon-more-v2"></i> -->
      </li>
      <!-- end:: section -->

      <!-- ECommerce -->

      <!-- <i class="fas fa-shopping-bag"></i>
      <i class="fas fa-user"></i>
      <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-laptop"></i>
      <i class="fas fa-dollar-sign"></i> -->


      <!-- begin::1 Level -->
      <li *ngFor="let item of menuAsideService.menuList$ | async" class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open">
      <a *ngIf="item.SubNavegacion &&  item.SubNavegacion.length>0" class="menu-link menu-toggle" routerLinkActive="active" [href]="item.Url">        
        <i class="justify-content-center svg-icon menu-icon {{item.Icono}}" style="margin-left: -6px;"></i>
        <span class="menu-text">{{item.Nombre }}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="menu-submenu">
        <i class="menu-arrow"></i>
        <ul class="menu-subnav">           
          <!-- begin::2 Level -->
          <li *ngFor="let opc of item.SubNavegacion" class="menu-item li-wcapital" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
            <a *ngIf="opc.SubNavegacion && opc.SubNavegacion.length > 0 && opc.VisibleNavegacion" class="menu-link" routerLink="{{opc.Url}}" routerLinkActive="active">
              <i class="menu-bullet menu-bullet-dot">
                <span></span>
              </i>
              <span class="menu-text">{{opc.Nombre }} </span>
            </a>
          </li>
          <!-- end::2 Level -->

        </ul>
      </div>
      </li>
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-open">
        <a class="menu-link menu-toggle" routerLinkActive="active" href="">
          <i class="justify-content-center svg-icon menu-icon fa-pencil-alt fas" style="margin-left: -6px;"></i>
          <span class="menu-text">Mantenedores</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow">
            <ul class="menu-subnav">
              <li class="menu-item li-wcapital" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/estudiantes" routerLinkActive="active" href="">
                  <i class="menu-bullet menu-bullet-dot">
                    <span></span>
                  </i>
                  <span class="menu-text">Estudiantes </span>
                </a>
              </li>
              <li class="menu-item li-wcapital" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/recompensas" routerLinkActive="active" href="">
                  <i class="menu-bullet menu-bullet-dot">
                    <span></span>
                  </i>
                  <span class="menu-text">Recompensas </span>
                </a>
              </li>
              <li class="menu-item li-wcapital" aria-haspopup="true" data-menu-toggle="hover" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/basureros" routerLinkActive="active" href="">
                  <i class="menu-bullet menu-bullet-dot">
                    <span></span>
                  </i>
                  <span class="menu-text">Basureros </span>
                </a>
              </li>
            </ul>
          </i>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- end::1 Level -->
    </ul>
    <!-- end::Menu Nav -->
  </div>
  <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->
